/* *{
    background-color: rgb(77, 74, 74);
} */
.logo{
    margin: 0;
    
}
.navbar{
     margin: 0;
}

ul{
    margin: 0;
    text-align: center;
    text-decoration:none;
}
ul li{
    display: inline-block;
    text-align: right;
    text-decoration: underline;
    color: rgb(3, 0, 0);
    padding: 5px;
    
}
h2{
    border-bottom: 2px solid black;
    text-align: center;
}
.img{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
.imgs{
    padding: 20px;
}
p{
    text-align: justify;
}
